.management-page {
    .full-width.hero {
        background-image: url(../../images/team.jpg); 
        min-height: 400px;        
        
        .hero{  
            padding-top: 7rem;
            h1 { font-size: 9rem;}
                
        }
    }
    nav {
        .center-buttons {
            li:not(.has-form) {                
                
                a:not(.button) { text-transform: uppercase; padding: 0 2.35rem;}
            
            }
        }   
    }
     .management-header.full-width {
        margin-bottom: 2rem;
        > div { 
            padding-top: 3rem;
            p { color: $grey; }
        }
    }
    .profile-grid {
        .image-block {
            img { width: 100%;}
        }
        .text-block {
            h4 { 
                margin: 1rem auto 0;
                line-height: 1rem;
                text-transform: capitalize;
                font-size: 1.25rem;
            }
            p {
                margin: .5rem auto 0;
                line-height: 1rem;
            }
        }   
    }
    
}

