
@import url("http://fast.fonts.net/t/1.css?apiType=css&projectid=0bd545bd-52e0-49c5-955c-03949d5ecae7");
@font-face{
font-family:"Amorie SC W01 Bold";
src:url("../../fonts/1b54b2a1-719c-4b2c-aa19-f849dfe7cfed.eot?#iefix");
src:url("../../fonts/1b54b2a1-719c-4b2c-aa19-f849dfe7cfed.eot?#iefix") format("eot"),url("../../fonts/7b59efe8-80af-460a-9e8c-d3b334d6bbb7.woff2") format("woff2"),url("../../fonts/205386f7-e7c4-452e-9135-13daa2b23748.woff") format("woff"),url("../../fonts/03930d55-14f5-446d-9d05-ba760c7106c5.ttf") format("truetype"),url("../../fonts/c1264b07-0b12-426b-b866-04e9d69b17d5.svg#c1264b07-0b12-426b-b866-04e9d69b17d5") format("svg");
}
