// colors.scss
$blue           : #1b3b5a !default;
$blue2          : #008CBA !default;
$yellow         : #e9a735 !default;
$orange         : #f28b20 !default;
$grey           : #838281 !default;

.blue-bg { background-color: $blue; }
.white-bg { background-color: white; }