//gothic font import
@import url("http://fast.fonts.net/t/1.css?apiType=css&projectid=0bd545bd-52e0-49c5-955c-03949d5ecae7");
@font-face{
font-family:"Trade Gothic W01 Light";
src:url("../../fonts/1d699af3-0e50-4c4b-a343-42d071e85714.eot?#iefix");
src:url("../../fonts/1d699af3-0e50-4c4b-a343-42d071e85714.eot?#iefix") format("eot"),url("../../fonts/5414f75e-5cb8-4357-88e5-5a294424c859.woff2") format("woff2"),url("../../fonts/537b145a-6a7d-4787-81d9-7228d3a42458.woff") format("woff"),url("../../fonts/8e50278c-45cd-4808-b774-24767d958f17.ttf") format("truetype"),url("../../fonts/d918b947-5fcb-42e2-8286-a98a801876de.svg#d918b947-5fcb-42e2-8286-a98a801876de") format("svg");
}
@font-face{
font-family:"Trade Gothic W01 Bold";
src:url("../../fonts/2e9af08f-0faf-45e3-9767-78a700434af3.eot?#iefix");
src:url("../../fonts/2e9af08f-0faf-45e3-9767-78a700434af3.eot?#iefix") format("eot"),url("../../fonts/d2e623ca-efc6-4557-ae55-ebb786065dcf.woff2") format("woff2"),url("../../fonts/f51d24dd-8256-43c6-ba1a-6aeae9d3f262.woff") format("woff"),url("../../fonts/955ee494-66b2-4eb2-8f19-bc3a088df16d.ttf") format("truetype"),url("../../fonts/d5153ad4-7c93-4757-9147-640e69ec4801.svg#d5153ad4-7c93-4757-9147-640e69ec4801") format("svg");
}
