<!-- header section -->
<div data-magellan-expedition="fixed" class="row header-section collapse">
  <div class="nav-container row full-width"><a href="/"> 
      <div class="large-3 large-offset-1 columns logo-section">   </div></a>
    <dl class="sub-nav large-7 columns right collapse">
      <dd data-magellan-arrival="#"><a href="booknstay.html" class="nav-button">BOOK + STAY</a></dd>
      <dd data-magellan-arrival="#"><a href="experience.html" class="nav-button">THE EXPERIENCE</a></dd>
      <dd data-magellan-arrival="#"> <a href="blog.html" class="nav-button">BLOG</a></dd>
    </dl>
  </div>
</div>
<div class="checkme-block row full-width">
  <div class="large-12 columns clearfix show-for-large-up">
    <div>
      <form class="availability-widget">
        <formfield>
          <div class="large-3 columns">
            <h5 class="text-right">Check Availability</h5>
          </div>
          <div class="large-3 columns">
            <input type="text" placeholder="Check-In"/>
          </div>
          <div class="large-3 columns">
            <input type="text" placeholder="Check-Out"/>
          </div>
          <div class="large-2 columns left"><a class="submit-btn">Book</a></div>
        </formfield>
      </form>
    </div>
  </div>
</div>