
<div class="row full-width foot">
  <div class="large-5 columns clearfix links-nav">
    <ul class="menu right menu-right">
      <li><a href="blog.html">Blog</a></li>
      <li><a href="#">Gift Cards</a></li>
      <li><a href="#">Press</a></li>
      <li><a href="#">Invest</a></li>
    </ul>
    <ul class="menu left menu-left">
      <li><a href="/">Home</a></li>
      <li><a href="booknstay.html">Book + Stay</a></li>
      <li><a href="experience.html">The Experience</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
  </div>
  <div class="large-3 columns join">
    <h4>Join Our Journey</h4>
    <form>
      <fieldset>
        <div class="row">
          <div class="large-8 columns">                       
            <input type="text" placeholder="Email Address"/>
          </div>
          <div class="large-1 columns end"><a href="#" class="postfix join-btn"></a></div>
        </div>
      </fieldset>
    </form>
  </div>
  <div class="large-4 columns social">
    <ul class="social-icons"><a href="#">
        <li class="left fb"></li></a><a href="#">
        <li class="left tw"></li></a><a href="#">
        <li class="left insta"></li></a><a href="#">
        <li class="left pt"></li></a><a href="#">
        <li class="left yt"></li></a></ul>
    <div class="copy">
      <p class="text-center">&copy; 2015 Highway West Vacation </p>
    </div>
  </div>
</div>