div.row.full-width.foot
    div.large-4.columns.clearfix.links-nav
        ul.menu.right.menu-right
            li
                a(href="blog.html") Blog
            li
                a(href="gift-cards.html") Gift Cards
            li
                a(href="press.html") Press
            li
                a(href="invest.html") Invest
        ul.menu.left.menu-left
            li
                a(href="/") Home
            li
                a(href="booknstay.html") Book + Stay
            li
                a(href="experience.html") The Experience
            li
                a(href="contact.html") Contact
        
    div.large-3.columns.join
        h4 Join Our Journey
        form
            fieldset
                div.row
                    div.large-10.columns                        
                        input(type="text" placeholder="Email Address")                        
                    div.large-2.columns.end
                        a.postfix.join-btn(href="#")
    div.large-4.columns.social.left
        ul.social-icons
            a(href="#")
                li.left.fb
            a(href="#")
                li.left.tw
            a(href="#")
                li.left.insta
            a(href="#")
                li.left.pt
            a(href="#")
                li.left.yt
        div.copy
            p.text-center &copy; 2015 Highway West Vacation 
        
           