doctype html
html(class="no-js", lang="en")
    include includes/header
    body
        include includes/partials/branding-nav
        include includes/pages/home        
        include includes/partials/foot
        include includes/footer