div.row.full-width.blog-page
    <!-- begin hero+CTA section -->
    div.row.full-width.hero.clearfix
        div.hero.text-center.row
            h1.happy-days Blog    
    <!-- begin experience header content block -->
    div.row.full-width.experience-header
        div.large-10.columns.large-centered
    <!-- begin nes header content block -->
    div.row.full-width.blog-header
        div.large-10.columns.large-centered.main-content
            div.large-8.columns
                div.large-12.columns.post-block
                    h3.happy-days.post-heading Jazz Events Near Santa Barbara
                    p.post-date June 4th, 2015
                    div.post-image
                        img(src="../../images/coos-bay.jpg")
                    p.post-text The free spirited nature of some travelers sometimes means that trips are booked impulsively and the plans are often as open as the road that leads them to their destination. For those who put the plans in the backseat and don&#8217;t plan activities ahead of time, we have some good news for you! Here are some great summer events in Coos Bay!
                    div.large-3.columns
                        a.yellow-btn(href="blog-detail.html") Read More
                div.large-12.columns.hr-divide-blue
                div.large-12.columns.post-block
                    h3.happy-days.post-heading COMPOSTABLE + BIODEGRADABLE CAMPING GEAR
                    p.post-date June 9th, 2015
                    div.post-image                        
                    p.post-text At Highway West Vacations, we not only advocate eco-friendly amenities and fixtures at our RV resorts and campgrounds but we also encourage our guests to partner with us in the ongoing effort to preserve and protect the vitality of our mountains, deserts, beaches, and other works of natural beauty.
                    div.large-3.columns
                        a.yellow-btn(href="blog-detail.html") Read More
                div.large-12.columns.hr-divide-blue
                div.large-12.columns.post-block
                    h3.happy-days.post-heading NATIONAL PARKS IN WASHINGTON
                    p.post-date June 2nd, 2015
                    div.post-image
                        img(src="../../images/national-parks.jpg")
                    p.post-text Many of the guests who decide to stop by our <a href="#"">Silver Cove RV Resort</a> know that Silver Lake, Washington is a great place to stop before visiting the Mount St. Helen&#8217;s National Volcanic Monument. What they might not know, is that the surrounding Gifford Pinchot National Forest is one of the oldest national forests in the United States and home to an impressive list of points of interest.
                    div.large-3.columns
                        a.yellow-btn(href="blog-detail.html") Read More
                div.large-12.columns.hr-divide-blue
                div.large-12.columns
                    ul.pagination(role="menubar" aria-label="Pagination")
                        li.arrow.left.unavailable(aira-disabled="true")
                            a(href="") Older Posts
                        li.arrow.right
                            a(href="") Newer Posts
                div.large-12.columns.hr-divide-blue
            div.large-3.columns.side-bar
                form                    
                    div.large-12.columns
                        div.large-11.columns                        
                            input(type="text" placeholder="Search the Blog")                        
                        div.large-1.columns.end
                            a.postfix.join-btn(href="#")
                h4 categories
                ul.category-list
                    li
                        a(href="#") Highway West Vacations
                    li
                        a(href="#") flying Flags RV Resort & Campground
                    li
                        a(href="#") Palm Canyon Hotel & RV Resort
                    li
                        a(href="#") Oceanside Beachfront RV Resort
                    li
                        a(href="#") Alderwood RV Express
                    li
                        a(href="#") Silver Cove RV Resort
                    li
                        a(href="#") Archview RV Resort & Campground
                    li
                        a(href="#") Canyonlands RV Resort & Campground
                    li
                        a(href="#") Moab Valley RV Resort & Campground
                    li
                        a(href="#") Pony Express RV Resort
                h4 Share a Story
                p.font-grey We are inspired by those who stay at our park. We invite you to share your vacation stories with us.
                a.yellow-btn(href="news-detail.html") Submit Your Story
                h4 Get Social
                div.large-12.columns.social
                    ul.social-icons.left
                        a(href="#")
                            li.left.fb
                        a(href="#")
                            li.left.tw
                        a(href="#")
                            li.left.insta
                        a(href="#")
                            li.left.pt
                        a(href="#")
                            li.left.yt