div.row.full-width.contact-page
    <!-- begin hero+CTA section -->
    div.row.full-width.hero.clearfix
        div.hero.text-center.row
            h1.happy-days Contact    
    <!-- begin contact content block -->
    div.row.full-width.contact-form
        div.large-10.columns.large-centered
            h3.font-white.happy-days Have A Question?
            p Have a question about Highway West Vacations resorts or campgrounds? Please fill out the below form and a member of our team will be in touch.
            form
                ul.large-block-grid-2
                    li
                        label First Name<sup>*</sup>
                        input#fname(type="text")
                        label Email<sup>*</sup>
                        input#email(type="text")
                        div.large-12.columns
                            label Resort Interested In:
                            select
                                option(option="Flying Flags RV Resort & Campground") Flying Flags RV Resort & Campground
                                option(option="Flying Flags RV Resort & Campground") Flying Flags RV Resort & Campground
                                option(option="Flying Flags RV Resort & Campground") Flying Flags RV Resort & Campground 
                    li
                        label Last Name<sup>*</sup>
                        input#lname(type="text")
                        label Phone<sup>*</sup>
                        input#phone(type="text")
                label Questions/Comments<sup>*</sup>
                textarea#comment
                div.large-2.columns.large-centered
                    a.yellow-btn#submit(href="#") Submit
    <!-- begin content block -->
    div.row.full-width.contact-content
        div.large-10.columns.large-centered
            h3.happy-days Work With Us
            p As Highway West Vacations expands throughout the western region of the United States, we need talented RV professionals to fill positions in Maintenance, Administration and Front Desk Receptionists, to name a few.  If you are interested in joining the HWV Team, email your resume to <a href="mailto:resumes@highwaywestvacations.com">resumes@highwaywestvacations.com.</a>