div.row.full-width.press-page
    <!-- begin hero+CTA section -->
    div.row.full-width.hero.clearfix
        div.hero.text-center.row
            h1.happy-days Press    
    <!-- begin press header content block -->
    div.row.full-width.press-header
        div.large-10.columns.large-centered
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam at porttitor sem. Aliquam erat volutpat. Donec placerat nisl magna, et faucibus arcu condimentum sed.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam at porttitor sem. Aliquam erat volutpat. Donec placerat nisl magna, et faucibus arcu condimentum sed.
    <!-- begin profiles grid -->     
    div.row.full-width.profile-grid
        div.large-10.columns.large-centered            
            ul.large-block-grid-3
                li
                    div.image-block
                        a(href="press-detail.html")
                            img(src="../../images/press-1.jpg")
                    div.text-block
                        h4.text-center The Glamping Business: Highway West Vacations
                        p.text-center June 15th, 2015
                        
                li
                    div.image-block
                        a(href="press-detail.html")
                            img(src="../../images/press-2.jpg")
                    div.text-block
                        h4.text-center 2015 Certificate of Excellence Award presented by TripAdvisor
                        p.text-center May 20th, 2015
                       
                li
                    div.image-block
                        a(href="press-detail.html")
                            img(src="../../images/press-3.jpg")
                    div.text-block
                        h4.text-center Cruise Inn Accelerates Growth with Addition of Nine Highway West Vacations RV Parks
                        p.text-center September 12th, 2014
                       
            ul.large-block-grid-3
                li
                    div.image-block
                        a(href="press-detail.html")
                            img(src="../../images/press-3.jpg")
                    div.text-block
                        h4.text-center Cruise Inn Accelerates Growth with Addition of Nine Highway West Vacations RV Parks
                        p.text-center September 12th, 2014                       
                li
                    div.image-block
                        a(href="press-detail.html")
                            img(src="../../images/press-1.jpg")
                    div.text-block
                        h4.text-center The Glamping Business: Highway West Vacations
                        p.text-center June 15th, 2015                       
                li
                    div.image-block
                        a(href="press-detail.html")
                            img(src="../../images/press-2.jpg")
                    div.text-block
                        h4.text-center 2015 Certificate of Excellence Award presented by TripAdvisor
                        p.text-center May 20th, 2015                       