.property-eatery-page {
    //background: url(../../images/big-horn-bar.jpg);
    .full-width.hero {        
        background-image: url(../../images/palm-canyon-resort.jpg);           
    }
    .content-view {
        p.font-grey {
        margin-bottom: 3rem;
    }
        .info-block {
        h4 {margin-bottom: 0; line-height: 1.5rem;}
        p  { color: $grey; line-height: 1.25rem; margin-bottom: 0;}
    }
        .yellow-btn { width: 100%; text-transform: uppercase; }
    }
    
   
}