.booknstay-page {
    .full-width.hero {
        background-image: url(../../images/dark-skyy.jpg);         
        .hero{   
                
        }
    }
    .row.blue-bg {
            .cta2 {
            background-color: #1b3b5a;
            .panel { 
                background-color: inherit;
                color: white;
                border: none;


        }
        }
    }
    
    
}