// nav-header.scss
.header-section {
    min-height: 100px;
    padding: 0; 
    .nav-container {
        //max-width: 1000px;
         .logo-section {
        background: url(../../images/logo.png);
        background-repeat: no-repeat;
        min-width: 245px;
        min-height: 75px;
        margin-top: 15px;
        
    }
    .sub-nav {
        margin: 0 50px 0 0;
        padding: 0;
        height: 100px;
        dd {
            margin:0;
            height: 100%;
                a.nav-button {
                @include button($padding: $button-lrg, $bg:false);
                padding: 35px;
                margin: 0;
                height: 100%;    
                color: $blue;
                &:hover { color: white; background: $yellow; }
            }
        }
        
        }
        
    }   
   
}
 