div.row.full-width.experience-page
    <!-- begin hero+CTA section -->
    div.row.full-width.hero.clearfix
        div.hero.text-center.row
            h1.happy-days The Highway West Experience           
    <!-- begin sub-navigation block -->
    div.row.full-width
        div.large-12.columns
            nav.top-bar.secondary-menu(data-topbar role="navigation")
                section.top-bar-section.clearfix
                    div.large-11.columns.large-centered.large-offset-1
                        ul.center-buttons.clearfix.large-12.columns

                            li.active.text-center
                                a(href="experience.html") The Highway West Experience                    
                            li.text-center
                                a(href="exploreoutdoors.html") Explore The Great Outdoors
                            li.text-center
                                a(href="management.html") Management Team
                            li.text-center
                                a(href="news.html") Company News
    <!-- begin experience header content block -->
    div.row.full-width.experience-header
        div.large-10.columns.large-centered
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut scelerisque rutrum eros, dignissim tempor orci ullamcorper ut. Pellentesque consequat fermentum scelerisque. Donec eget ante posuere, rutrum lacus at, sodales justo. Quisque eget ipsum nibh. Maecenas nec purus ante. Cras dignissim nibh egestas quam tincidunt blandit. Phasellus libero arcu, ultricies a venenatis nec, imperdiet sit amet sapien. Nam molestie urna id lectus tempus pellentesque. Morbi vitae purus facilisis, elementum nisi sed, condimentum odio. Donec id nunc non purus iaculis consectetur. Aliquam sed tempor justo. Sed luctus enim elit, eu vehicula nisi bibendum congue. Nam in volutpat ipsum. Maecenas ullamcorper scelerisque posuere. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
    <!-- begin vacation stories block -->
    div.row.full-width.story-block
        div.large-10.columns.large-centered
            <!-- begin call to action panel -->    
            div.large-12.columns
                div.cta1
                    div.large-4.columns
                        h3.happy-days Real Vacation Stories
                    div.large-8.columns 
                        p.intro Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce commodo scelerisque justo sed suscipit. Vestibulum at nibh quis enim viverra tempus. Phasellus nulla elit. <a href="#" class="yellow-link">Share Yours</a>
            div.large-12.columns.hr-divide-wht
            div.large-12.columns.post
                div.large-5.columns.post-img
                    img(src="../../images/exp-post-1.jpg")
                div.large-6.columns.post-text.large-offset-1                    
                    div.row.quote-marks.happy-days.text-left &#8220;
                    p.font-white Proin iaculis elit ac lobortis varius. Vivamus sit amet elit erat. Maecenas et est eros. Duis egestas egestas ante, gravida ultricies turpis gravida sed. 
                    p.font-white Proin iaculis elit ac lobortis varius. Vivamus sit amet elit erat. Maecenas et est eros. Duis egestas egestas ante, gravida ultricies turpis gravida sed. Sed laoreet odio vel dolor suscipit, nec porta enim condimentum.
                    p.font-white - Happy Glamper
            div.large-12.columns.hr-divide-wht
            div.large-12.columns.post
                div.large-6.columns.post-text
                    div.row.quote-marks.happy-days.text-left &#8220;
                    p.font-white Proin iaculis elit ac lobortis varius. Vivamus sit amet elit erat. Maecenas et est eros. Duis egestas egestas ante, gravida ultricies turpis gravida sed. 
                    p.font-white Proin iaculis elit ac lobortis varius. Vivamus sit amet elit erat. Maecenas et est eros. Duis egestas egestas ante, gravida ultricies turpis gravida sed. Sed laoreet odio vel dolor suscipit, nec porta enim condimentum.
                    p.font-white - Happy Glamper                    
                div.large-5.columns.post-img.large-offset-1                    
                    img(src="../../images/exp-post-2.jpg")
                    
                     
