div.row.full-width.exploreoutdoors-page
    <!-- begin hero+CTA section -->
    div.row.full-width.hero.clearfix
        div.hero.text-center.row
            h1.happy-days The Highway West Experience           
    <!-- begin sub-navigation block -->
    div.row.full-width
        div.large-12.columns
            nav.top-bar.secondary-menu(data-topbar role="navigation")
                section.top-bar-section.clearfix
                    div.large-11.columns.large-centered.large-offset-1
                        ul.center-buttons.clearfix.large-12.columns

                            li.text-center
                                a(href="experience.html") The Highway West Experience                    
                            li.active.text-center
                                a(href="exploreoutdoors.html") Explore The Great Outdoors
                            li.text-center
                                a(href="management.html") Management Team
                            li.text-center
                                a(href="news.html") Company News
    <!-- begin experience header content block -->
    div.row.full-width.outdoors-header
        div.large-10.columns.large-centered
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut scelerisque rutrum eros, dignissim tempor orci ullamcorper ut. Pellentesque consequat fermentum scelerisque. Donec eget ante posuere, rutrum lacus at, sodales justo. Quisque eget ipsum nibh. Maecenas nec purus ante. Cras dignissim nibh egestas quam tincidunt blandit. Phasellus libero arcu, ultricies a venenatis nec, imperdiet sit amet sapien. Nam molestie urna id lectus tempus pellentesque. Morbi vitae purus facilisis, elementum nisi sed, condimentum odio. Donec id nunc non purus iaculis consectetur. Aliquam sed tempor justo. Sed luctus enim elit, eu vehicula nisi bibendum congue. Nam in volutpat ipsum. Maecenas ullamcorper scelerisque posuere. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
    <!-- begin filter block -->
    div.row.full-width.clearfix
        div.large-12.columns.filter-block
            div.large-10.columns.large-centered.container
                form
                    div.large-4.columns.location-filter
                        h4 locations
                        ul
                            li
                                input#location-1(type="checkbox")
                                label(for="location-1") California
                            li
                                input#location-2(type="checkbox")
                                label(for="location-2") Oregon
                            li
                                input#location-3(type="checkbox")
                                label(for="location-3") Washington
                            li
                                input#location-4(type="checkbox")
                                label(for="location-4") Utah
                    div.large-5.columns.type-filter
                        h4 Travel Type
                        div.large-6.columns
                            ul.left
                                li
                                    input#type-1(type="checkbox")
                                    label(for="type-1") RV Sites
                                li
                                    input#type-2(type="checkbox")
                                    label(for="type-2") Tent Sites
                                li
                                    input#type-3(type="checkbox")
                                    label(for="type-3") Safari Tents
                                li
                                    input#type-4(type="checkbox")
                                    label(for="type-4") Hotel Rooms
                        div.large-6.columns
                            ul.left
                                li
                                    input#type-5(type="checkbox")
                                    label(for="type-5") Airstreams
                                li
                                    input#type-6(type="checkbox")
                                    label(for="type-6") Vintage Trailers
                                li
                                    input#type-7(type="checkbox")
                                    label(for="type-7") Cottages
                                li
                                    input#type-8(type="checkbox")
                                    label(for="type-8") Cabins
                    div.large-3.columns.time-filter
                        h4 Length of Time                        
                        ul
                            li
                                input#time-1(type="checkbox")
                                label(for="time-1") 1 week
                            li
                                input#time-2(type="checkbox")
                                label(for="time-2") 2 weeks
                            li
                                input#time-3(type="checkbox")
                                label(for="time-3") 3+ weeks
    <!-- begin results block -->
    div.row.full-width.clearfix.result-section
        div.large-12.columns.results-block
            div.large-7.columns.image
                img(src="../../images/explore-1.jpg")
            div.large-5.columns.content-right.content
                div.large-1.columns
                    div.arrow-left
                div.large-11.columns
                    h3.happy-days 2 Week Journey Through The Pacific Northwest
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque dignissim consequat elit, in luctus lacus varius eget. Vivamus molestie dolor a urna faucibus
                    h5.destinations Destinations Vistied
                    p.destination Mead - Alderwood RV Express
                    p.destination Silver Lake - Silver Cove RV Resort                    
                    p.destination Coos Bay - Oceanside Beachfront RV Resort
                    div.large-5.columns
                        a.yellow-btn(href="exploreoutdoors-detail.html") View Route
                    div.large-6.columns
                        a.yellow-btn(href="exploreoutdoors-detail.html") More Information
        div.large-12.columns.results-block            
            div.large-5.columns.content-left.content            
                div.large-11.columns
                    h3.happy-days Moab Getaway
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque dignissim consequat elit, in luctus lacus varius eget. Vivamus molestie dolor a urna faucibus
                    h5.destinations Destinations Vistied
                    p.destination Moab - Archview RV Resort & Campground
                    p.destination Moab - Canyonlands RV Resort & Campground                    
                    div.large-5.columns
                        a.yellow-btn(href="exploreoutdoors-detail.html") View Route
                    div.large-6.columns
                        a.yellow-btn(href="exploreoutdoors-detail.html") More Information
                div.large-1.columns
                    div.arrow-right
            div.large-7.columns.image
                img(src="../../images/explore-2.jpg")
        div.large-12.columns.results-block
            div.large-7.columns.image
                img(src="../../images/explore-3.jpg")
            div.large-5.columns.content-right.content
                div.large-1.columns
                        div.arrow-left
                div.large-11.columns
                    h3.happy-days No RV, No Problem
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque dignissim consequat elit, in luctus lacus varius eget. Vivamus molestie dolor a urna faucibus
                    h5.destinations Destinations Vistied
                    p.destination Mead - Alderwood RV Express
                    p.destination Silver Lake - Silver Cove RV Resort                    
                    p.destination Coos Bay - Oceanside Beachfront RV Resort
                    div.large-5.columns
                        a.yellow-btn(href="exploreoutdoors-detail.html") View Route
                    div.large-6.columns
                        a.yellow-btn(href="exploreoutdoors-detail.html") More Information
        div.large-12.columns.results-block            
            div.large-5.columns.content-left.content
                div.large-11.columns
                    h3.happy-days Glamping Getaway
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque dignissim consequat elit, in luctus lacus varius eget. Vivamus molestie dolor a urna faucibus
                    h5.destinations Destinations Vistied
                    p.destination Buelton - Flying Flags RV Resort & Campground
                    p.destination Borrego Springs - Palm Canyon Hotel & RV Resort       
                    div.large-5.columns
                        a.yellow-btn(href="exploreoutdoors-detail.html") View Route
                    div.large-6.columns
                        a.yellow-btn(href="exploreoutdoors-detail.html") More Information
                div.large-1.columns
                    div.arrow-right
            div.large-7.columns.image
                img(src="../../images/explore-4.jpg")
                          