div.row.full-width.exploreoutdoors-detail-page
    <!-- begin hero+CTA section -->
    div.row.full-width.hero.clearfix
        div.hero.text-center.row
            h1.happy-days 2 Week Journey Through
            h1.happy-days the pacific Northwest
            
    <!-- begin book package cta block -->
    div.row.full-width.book-cta-block
        div.large-10.columns.large-centered.book-cta
            div.large-6.columns
                h3.happy-days.text-right Interested In This Package?
            div.large-6.columns
                div.large-3.columns
                    a.orange-btn(href="#") Book
                div.large-8.columns
                    a.yellow-btn(href="#") Print Package Details
    <!-- begin experience header content block -->
    div.row.full-width.outdoors-detail-header
        div.large-10.columns.large-centered
            nav.breadcrumbs(role="menubar" aria-label="breadcrumbs")
                a(href="exploreoutdoors.html") Back To Packages
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut scelerisque rutrum eros, dignissim tempor orci ullamcorper ut. Pellentesque consequat fermentum scelerisque. Donec eget ante posuere, rutrum lacus at, sodales justo. Quisque eget ipsum nibh. Maecenas nec purus ante. Cras dignissim nibh egestas quam tincidunt blandit. Phasellus libero arcu, ultricies a venenatis nec, imperdiet sit amet sapien. Nam molestie urna id lectus tempus pellentesque. Morbi vitae purus facilisis, elementum nisi sed, condimentum odio. Donec id nunc non purus iaculis consectetur. Aliquam sed tempor justo. Sed luctus enim elit, eu vehicula nisi bibendum congue. Nam in volutpat ipsum. Maecenas ullamcorper scelerisque posuere. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
    <!-- begin map view block -->
    div.row.full-width.map-view-block
        img(src="../../../images/outdoors-detail-map.jpg")
    <!-- begin results list block -->
    div.row.full-width.result-list-block
        div.large-10.large-centered.columns
            div.large-12.secondary-view.columns
                div.large-5.columns.img-block
                    img(src="../../images/oregon-coast.jpg")
                div.large-7.columns.content-block
                    div.large-12.columns
                        h4.title Oceanside Beachfront RV Resort 
                        p.location Coos Bay, Oregon
                        div.large-3.columns.distance.end
                            p 30 miles from you
                    div.large-12.columns
                        h4 Accomodations
                        p.font-grey RV Sites, Airstreams, Vintage Trailers, Hotel Rooms
                        h4 Amenities
                        p Pool Hot Tub, Free Basic WiFi, Free Cable, Fitness Center, Restrooms, Shower Facility, Laundry Facility, and more!
                                        
            div.large-12.columns.hr-divide-blue.
            div.large-12.columns.secondary-view
                div.large-5.columns.img-block
                    img(src="../../images/silver-cove.jpg")
                div.large-7.columns.content-block
                    div.large-12.columns
                        h4.title Silver Cove RV Resort
                        p.location Silver Lake, Washington
                        div.large-3.columns.end.distance
                            p 55 miles from you
                    div.large-12.columns
                        h4 Accomodations
                        p.font-grey RV Sites, Airstreams, Vintage Trailers, Hotel Rooms
                        h4 Amenities
                        p Pool Hot Tub, Free Basic WiFi, Free Cable, Fitness Center, Restrooms, Shower Facility, Laundry Facility, and more!
                                      
            div.large-12.columns.hr-divide-blue
            div.large-12.columns.secondary-view
                div.large-5.columns.img-block
                    img(src="../../images/alderwood.jpg")
                div.large-7.columns.content-block
                    div.large-12.columns
                        h4.title Alderwood RV Express
                        p.location Mead, Washington
                        div.large-3.columns.end.distance
                            p 50 miles from you
                    div.large-12.columns
                        h4 Accomodations
                        p.font-grey RV Sites, Airstreams, Vintage Trailers, Hotel Rooms
                        h4 Amenities
                        p Pool Hot Tub, Free Basic WiFi, Free Cable, Fitness Center, Restrooms, Shower Facility, Laundry Facility, and more!

    <!-- begin book package cta block -->
    div.row.full-width.book-cta-block
        div.large-10.columns.large-centered.book-cta
            div.large-6.columns
                h3.happy-days.text-right Interested In This Package?
            div.large-6.columns
                div.large-3.columns
                    a.orange-btn(href="#") Book
                div.large-8.columns
                    a.yellow-btn(href="#") Print Package Details
    <!-- begin image slider block -->
    div.row.full-width.image-slider-block
        div.slick-slide-block
            div(style="background-image: url(../../images/river-front.jpg);")                
            div(style="background-image: url(../../images/river-front.jpg);")                
            div(style="background-image: url(../../images/river-front.jpg);")                
            div(style="background-image: url(../../images/river-front.jpg);")                 
            div(style="background-image: url(../../images/river-front.jpg);") 
            div(style="background-image: url(../../images/river-front.jpg);")                 
        div.slider-nav(role="toolbar")
            div
                img(src="../../images/river-front.jpg")
            div
                img(src="../../images/river-front.jpg")
            div
                img(src="../../images/river-front.jpg")
            div
                img(src="../../images/river-front.jpg")
            div
                img(src="../../images/river-front.jpg")
            div
                img(src="../../images/river-front.jpg")    