div.row.full-width.management-page
    <!-- begin hero+CTA section -->
    div.row.full-width.hero.clearfix
        div.hero.text-center.row
            h1.happy-days The Highway West Experience           
    <!-- begin sub-navigation block -->
    div.row.full-width
        div.large-12.columns
            nav.top-bar.secondary-menu(data-topbar role="navigation")
                section.top-bar-section.clearfix
                    div.large-11.columns.large-centered.large-offset-1
                        ul.center-buttons.clearfix.large-12.columns

                            li.text-center
                                a(href="experience.html") The Highway West Experience                    
                            li.text-center
                                a(href="exploreoutdoors.html") Explore The Great Outdoors
                            li.active.text-center
                                a(href="management.html") Management Team
                            li.text-center
                                a(href="news.html") Company News
    <!-- begin experience header content block -->
    div.row.full-width.management-header
        div.large-10.columns.large-centered
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut scelerisque rutrum eros, dignissim tempor orci ullamcorper ut. Pellentesque consequat fermentum scelerisque. Donec eget ante posuere, rutrum lacus at, sodales justo. Quisque eget ipsum nibh. Maecenas nec purus ante. Cras dignissim nibh egestas quam tincidunt blandit. Phasellus libero arcu, ultricies a venenatis nec, imperdiet sit amet sapien. Nam molestie urna id lectus tempus pellentesque. Morbi vitae purus facilisis, elementum nisi sed, condimentum odio. Donec id nunc non purus iaculis consectetur. Aliquam sed tempor justo. Sed luctus enim elit, eu vehicula nisi bibendum congue. Nam in volutpat ipsum. Maecenas ullamcorper scelerisque posuere. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
    <!-- begin profiles grid -->     
    div.row.full-width.profile-grid
        div.large-10.columns.large-centered            
            ul.large-block-grid-3
                li
                    div.image-block
                        img(src="../../images/profile-1.jpg")
                    div.text-block
                        h4.text-center Firstname Lastname
                        p.text-center Job Title
                        p.text-center hello@highwaywestvacations.com
                li
                    div.image-block
                        img(src="../../images/profile-2.jpg")
                    div.text-block
                        h4.text-center Firstname Lastname
                        p.text-center Job Title
                        p.text-center hello@highwaywestvacations.com
                li
                    div.image-block
                        img(src="../../images/profile-3.jpg")
                    div.text-block
                        h4.text-center Firstname Lastname
                        p.text-center Job Title
                        p.text-center hello@highwaywestvacations.com
            ul.large-block-grid-3
                li
                    div.image-block
                        img(src="../../images/profile-4.jpg")
                    div.text-block
                        h4.text-center Firstname Lastname
                        p.text-center Job Title
                        p.text-center hello@highwaywestvacations.com
                li
                    div.image-block
                        img(src="../../images/profile-5.jpg")
                    div.text-block
                        h4.text-center Firstname Lastname
                        p.text-center Job Title
                        p.text-center hello@highwaywestvacations.com
                li
                    div.image-block
                        img(src="../../images/profile-5.jpg")
                    div.text-block
                        h4.text-center Firstname Lastname
                        p.text-center Job Title
                        p.text-center hello@highwaywestvacations.com