div.row.full-width.management-page
    <!-- begin hero+CTA section -->
    div.row.full-width.hero.clearfix
        div.hero.text-center.row
            h1.happy-days The Highway West Experience           
    <!-- begin sub-navigation block -->
    div.row.full-width
        div.large-12.columns
            nav.top-bar.secondary-menu(data-topbar role="navigation")
                section.top-bar-section.clearfix
                    div.large-11.columns.large-centered.large-offset-1
                        ul.center-buttons.clearfix.large-12.columns

                            li.text-center
                                a(href="experience.html") The Highway West Experience                    
                            li.text-center
                                a(href="exploreoutdoors.html") Explore The Great Outdoors
                            li.active.text-center
                                a(href="management.html") Management Team
                            li.text-center
                                a(href="news.html") Company News
    <!-- begin experience header content block -->
    div.row.full-width.experience-header
        div.large-10.columns.large-centered