div.row.full-width.news-detail-page
    <!-- begin hero+CTA section -->
    div.row.full-width.hero.clearfix
        div.hero.text-center.row
            h1.happy-days Company News          
    <!-- begin sub-navigation block -->
    div.row.full-width
        div.large-12.columns
            nav.top-bar.secondary-menu(data-topbar role="navigation")
                section.top-bar-section.clearfix
                    div.large-11.columns.large-centered.large-offset-1
                        ul.center-buttons.clearfix.large-12.columns

                            li.text-center
                                a(href="experience.html") The Highway West Experience                    
                            li.text-center
                                a(href="exploreoutdoors.html") Explore The Great Outdoors
                            li.text-center
                                a(href="management.html") Management Team
                            li.active.text-center
                                a(href="news.html") Company News
    <!-- begin experience header content block -->
    div.row.full-width.experience-header
        div.large-10.columns.large-centered
    <!-- begin news header content block -->
    div.row.full-width.news-header
        div.large-10.columns.large-centered.main-content
            div.large-7.columns                
                div.large-12.columns.post-block
                    h3.happy-days.post-heading Wild West Adventeures In Southern California
                    p.post-date June 9th, 2015
                    div.post-image                        
                    p.post-text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque dignissim consequat elit, in luctus lacus varius eget. Vivamus molestie dolor a urna faucibus, ut auctor lectus imperdiet. Curabitur porttitor sagittis sollicitudin. Duis in orci a neque malesuada vehicula. Nullam dolor dolor, gravida cursus pulvinar vitae, tempus sit amet mi. Sed quis nunc nulla. Nunc et tellus justo. Suspendisse sed sodales nulla. Nam non libero a erat egestas interdum id a eros.
                    p.post-text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque dignissim consequat elit, in luctus lacus varius eget. Vivamus molestie dolor a urna faucibus, ut auctor lectus imperdiet. Curabitur porttitor sagittis sollicitudin. Duis in orci a neque malesuada vehicula. Nullam dolor dolor, gravida cursus pulvinar vitae, tempus sit amet mi. Sed quis nunc nulla. Nunc et tellus justo. Suspendisse sed sodales nulla. Nam non libero a erat egestas interdum id a eros.
                    p.post-text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque dignissim consequat elit, in luctus lacus varius eget. Vivamus molestie dolor a urna faucibus, ut auctor lectus imperdiet. Curabitur porttitor sagittis sollicitudin. Duis in orci a neque malesuada vehicula. Nullam dolor dolor, gravida cursus pulvinar vitae, tempus sit amet mi. Sed quis nunc nulla. Nunc et tellus justo. Suspendisse sed sodales nulla. Nam non libero a erat egestas interdum id a eros.
                    p.post-text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque dignissim consequat elit, in luctus lacus varius eget. Vivamus molestie dolor a urna faucibus, ut auctor lectus imperdiet. Curabitur porttitor sagittis sollicitudin. Duis in orci a neque malesuada vehicula. Nullam dolor dolor, gravida cursus pulvinar vitae, tempus sit amet mi. Sed quis nunc nulla. Nunc et tellus justo. Suspendisse sed sodales nulla. Nam non libero a erat egestas interdum id a eros.
                    p.post-text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque dignissim consequat elit, in luctus lacus varius eget. Vivamus molestie dolor a urna faucibus, ut auctor lectus imperdiet. Curabitur porttitor sagittis sollicitudin. Duis in orci a neque malesuada vehicula. Nullam dolor dolor, gravida cursus pulvinar vitae, tempus sit amet mi. Sed quis nunc nulla. Nunc et tellus justo. Suspendisse sed sodales nulla. Nam non <a href="#" target="_blank">libero a erat egestas</a> interdum id a eros.                    
                div.large-12.columns.hr-divide-blue
                div.large-12.columns
                     nav.breadcrumbs(role="menubar" aria-label="breadcrumbs")
                        a(href="news.html") Back To Company News
                div.large-12.columns.hr-divide-blue
            div.large-4.large-offset-1.columns.side-bar
                form                    
                    div.large-12.columns
                        div.large-8.columns                        
                            input(type="text" placeholder="Email Address")                        
                        div.large-1.columns.end
                            a.postfix.join-btn(href="#")
                h4 categories
                ul.category-list
                    li
                        a(href="#") Highway West Vacations
                    li
                        a(href="#") flying Flags RV Resort & Campground
                    li
                        a(href="#") Palm Canyon Hotel & RV Resort
                    li
                        a(href="#") Oceanside Beachfront RV Resort
                    li
                        a(href="#") Alderwood RV Express
                    li
                        a(href="#") Silver Cove RV Resort
                    li
                        a(href="#") Archview RV Resort & Campground
                    li
                        a(href="#") Canyonlands RV Resort & Campground
                    li
                        a(href="#") Moab Valley RV Resort & Campground
                    li
                        a(href="#") Pony Express RV Resort