div.row.full-width.property-accomodations-page
    <!-- begin hero+CTA section -->
    div.row.full-width.hero.clearfix
        div.hero.text-center.row
            h2.happy-days Palm Canyon Hotel + RV Resort           
    <!-- end hero+CTA section -->
    <!-- begin check availability bar -->
    div.row.full-width
        div.large-12.columns.availability-block.clearfix.show-for-large-up
            div.panel.cta1
                div.large-7.columns.large-offset-1
                    form
                        formfield
                            div.large-3.columns
                                h5.text-right Check Availability
                            div.large-3.columns
                                input(type="text" placeholder="Check-In")
                            div.large-3.columns
                                input(type="text" placeholder="Check-Out")
                            div.large-2.columns.left
                                a.submit-btn Book
                div.large-4.columns.weather-block.show-for-large-up
                    div.vrt-divide.left
                    div.large-10.columns.large-offset-1
                        div.row
                            h5 Currently in Boreggo Springs
                        div.row
                            div.large-5.columns 
                                p.temp 77&#8457
                            div.large-5.columns.weather-icons
    <!-- begin sub-navigation block -->
    div.row.full-width
        div.large-12.columns
            nav.top-bar.secondary-menu(data-topbar role="navigation")
                section.top-bar-section.clearfix
                    div.large-10.columns.large-centered
                        ul.center-buttons.clearfix.large-12.columns                           
                            li.text-center
                                a(href="property.html") Palm Canyon                    
                            li.active.text-center
                                a(href="property-accomodations.html") Accomodations
                            li.text-cetner
                                a(href="property-amenities.html") Amenities
                            li.text-center
                                a(href="property-activities.html") Activities
                            li.text-center
                                a(href="property-eatery.html") Eatery
                            li.text-center
                                a(href="property-maps.html") Maps + Contacts
                            li.text-center
                                a(href="property-faq.html") FAQ
                            li.text-center
                                a(href="property-social.html") Get Social
    
      <!-- begin content block -->
    div.row.full-width
        div.large-10.columns.clearfix.large-centered
            h2.happy-days.font-blue Available Accomodations
            div.large-12.columns.main-view
                div.large-5.columns.img-block
                    img(src="../../images/accom-1.jpg")
                div.large-7.columns.content-block
                    h4 RV Sites
                    p Proin iaculis elit ac lobortis varius. Vivamus sit amet elit erat. Maecenas et est eros. Duis egestas egestas ante, gravida ultricies turpis gravida sed. Sed laoreet odio vel dolor suscipit, nec porta enim condimentum. Proin efficitur scelerisque lectus, ac tempus neque rhoncus vel. Curabitur eu leo id purus eleifend pretium non nec ex.
                    p From $100/night
                    div.row.columns
                    div.large-6.columns
                        a.yellow-btn(herf="#") view accomodation types
                    div.large-3.columns.left
                        a.yellow-btn(href="#") site plan
                div.large-12.site-types.columns
                    <!-- begin 4-block section -->
                    ul.large-block-grid-2.posts
                        li
                            div.large-8.columns
                                h5.post-title Site Type 1
                                p.font-grey Proin iaculis elit ac lobortis varius. Vivamus sit amet elit erat. Maecenas et est eros. Duis egestas egestas ante, gravida ultricies turpis gravida sed. Sed laoreet odio vel dolor suscipit
                                ul.font-grey.details
                                    li Detail One
                                    li Detail Two
                                    li Detail Three
                            form.large-4.columns.options-form
                                formfield
                                    div.large-12.columns.end
                                        div.large-7.columns
                                            p.text-right Adults
                                        div.large-4.columns
                                            select
                                                option(value='0') 0
                                                option(value='1') 1
                                                option(value='3') 3
                                    div.large-12.columns
                                        div.large-7.columns
                                            p.text-right Childeren 5 or under
                                        div.large-4.columns
                                            select
                                                option(value='0') 0
                                                option(value='1') 1
                                                option(value='3') 3
                                    div.large-10.columns
                                        a.orange-btn(href="#") Book
                            div.large-12.left.columns.hr-divide-grey
                        li                        
                            div.large-8.columns
                                h5.post-title.print Site Type 2
                                p.font-grey Proin iaculis elit ac lobortis varius. Vivamus sit amet elit erat. Maecenas et est eros. Duis egestas egestas ante, gravida ultricies turpis gravida sed. Sed laoreet odio vel dolor suscipit
                                ul.font-grey.details
                                    li Detail One
                                    li Detail Two
                                    li Detail Three
                            form.large-4.columns.options-form
                                formfield
                                    div.large-12.columns.end
                                        div.large-7.columns
                                            p.text-right Adults
                                        div.large-4.columns
                                            select
                                                option(value='0') 0
                                                option(value='1') 1
                                                option(value='3') 3
                                    div.large-12.columns
                                        div.large-7.columns
                                            p.text-right Childeren 5 or under
                                        div.large-4.columns
                                            select
                                                option(value='0') 0
                                                option(value='1') 1
                                                option(value='3') 3
                                    div.large-10.columns
                                        a.orange-btn(href="#") Book
                            div.large-12.left.columns.hr-divide-grey
                    ul.large-block-grid-2.posts
                        li                        
                            div.large-8.columns
                                h5.post-title Site Type 3
                                p.font-grey Proin iaculis elit ac lobortis varius. Vivamus sit amet elit erat. Maecenas et est eros. Duis egestas egestas ante, gravida ultricies turpis gravida sed. Sed laoreet odio vel dolor suscipit
                                ul.font-grey.details
                                    li Detail One
                                    li Detail Two
                                    li Detail Three
                            form.large-4.columns.options-form
                                formfield
                                    div.large-12.columns.end
                                        div.large-7.columns
                                            p.text-right Adults
                                        div.large-4.columns
                                            select
                                                option(value='0') 0
                                                option(value='1') 1
                                                option(value='3') 3
                                    div.large-12.columns
                                        div.large-7.columns
                                            p.text-right Childeren 5 or under
                                        div.large-4.columns
                                            select
                                                option(value='0') 0
                                                option(value='1') 1
                                                option(value='3') 3
                                    div.large-10.columns
                                        a.orange-btn(href="#") Book                          
                        li                        
                            div.large-8.columns
                                h5.post-title Site Type 4
                                p.font-grey Proin iaculis elit ac lobortis varius. Vivamus sit amet elit erat. Maecenas et est eros. Duis egestas egestas ante, gravida ultricies turpis gravida sed. Sed laoreet odio vel dolor suscipit
                                ul.font-grey.details
                                    li Detail One
                                    li Detail Two
                                    li Detail Three
                            form.large-4.columns.options-form
                                formfield
                                    div.large-12.columns.end
                                        div.large-7.columns
                                            p.text-right Adults
                                        div.large-4.columns
                                            select
                                                option(value='0') 0
                                                option(value='1') 1
                                                option(value='3') 3
                                    div.large-12.columns
                                        div.large-7.columns
                                            p.text-right Childeren 5 or under
                                        div.large-4.columns
                                            select
                                                option(value='0') 0
                                                option(value='1') 1
                                                option(value='3') 3
                                    div.large-10.columns
                                        a.orange-btn(href="#") Book                   
            div.large-12.columns.hr-divide-blue   
            div.large-12.secondary-view.columns
                div.large-5.columns.img-block
                    img(src="../../images/accom-2.jpg")
                div.large-7.columns.content-block
                    h4 RV Sites
                    p Proin iaculis elit ac lobortis varius. Vivamus sit amet elit erat. Maecenas et est eros. Duis egestas egestas ante, gravida ultricies turpis gravida sed. Sed laoreet odio vel dolor suscipit, nec porta enim condimentum. Proin efficitur scelerisque lectus, ac tempus neque rhoncus vel. Curabitur eu leo id purus eleifend pretium non nec ex.
                    p From $100/night
                    div.row.columns
                    div.large-6.columns
                        a.yellow-btn(herf="#") view accomodation types
                    div.large-3.columns.left
                        a.yellow-btn(href="#") site plan
            div.large-12.columns.hr-divide-blue.
            div.large-12.columns.secondary-view
                div.large-5.columns.img-block
                    img(src="../../images/accom-3.jpg")
                div.large-7.columns.content-block
                    h4 RV Sites
                    p Proin iaculis elit ac lobortis varius. Vivamus sit amet elit erat. Maecenas et est eros. Duis egestas egestas ante, gravida ultricies turpis gravida sed. Sed laoreet odio vel dolor suscipit, nec porta enim condimentum. Proin efficitur scelerisque lectus, ac tempus neque rhoncus vel. Curabitur eu leo id purus eleifend pretium non nec ex.
                    p From $100/night
                    div.large-12.columns
                        div.large-6.columns
                            a.yellow-btn(herf="#") view accomodation types
                        div.large-3.columns.left
                            a.yellow-btn(href="#") site plan
            div.large-12.columns.hr-divide-blue
            div.large-12.columns.secondary-view
                div.large-5.columns.img-block
                    img(src="../../images/accom-4.jpg")
                div.large-7.columns.content-block
                    h4 RV Sites
                    p Proin iaculis elit ac lobortis varius. Vivamus sit amet elit erat. Maecenas et est eros. Duis egestas egestas ante, gravida ultricies turpis gravida sed. Sed laoreet odio vel dolor suscipit, nec porta enim condimentum. Proin efficitur scelerisque lectus, ac tempus neque rhoncus vel. Curabitur eu leo id purus eleifend pretium non nec ex.
                    p From $100/night
                    div.row.columns
                    div.large-6.columns
                        a.yellow-btn(herf="#") view accomodation types
                    div.large-3.columns.left
                        a.yellow-btn(href="#") site plan
    div.row.full-width.map-view

                
        