div.row.full-width.property-faq-page
    <!-- begin hero+CTA section -->
    div.row.full-width.hero.clearfix
        div.hero.text-center.row
            h2.happy-days Palm Canyon Hotel + RV Resort           
    <!-- end hero+CTA section -->
    <!-- begin check availability bar -->
    div.row.full-width
        div.large-12.columns.availability-block.clearfix.show-for-large-up
            div.panel.cta1
                div.large-7.columns.large-offset-1
                    form
                        formfield
                            div.large-3.columns
                                h5.text-right Check Availability
                            div.large-3.columns
                                input(type="text" placeholder="Check-In")
                            div.large-3.columns
                                input(type="text" placeholder="Check-Out")
                            div.large-2.columns.left
                                a.submit-btn Book
                div.large-4.columns.weather-block.show-for-large-up
                    div.vrt-divide.left
                    div.large-10.columns.large-offset-1
                        div.row
                            h5 Currently in Boreggo Springs
                        div.row
                            div.large-5.columns 
                                p.temp 77&#8457
                            div.large-5.columns.weather-icons
    <!-- begin sub-navigation block -->
    div.row.full-width
        div.large-12.columns
            nav.top-bar.secondary-menu(data-topbar role="navigation")
                section.top-bar-section.clearfix
                    div.large-10.columns.large-centered
                        ul.center-buttons.clearfix.large-12.columns
                            li.text-center
                                a(href="property.html") Palm Canyon                    
                            li.text-center
                                a(href="property-accomodations.html") Accomodations
                            li.text-cetner
                                a(href="property-amenities.html") Amenities
                            li.text-center
                                a(href="property-activities.html") Activities
                            li.text-center
                                a(href="property-eatery.html") Eatery
                            li.text-center
                                a(href="property-maps.html") Maps + Contacts
                            li.active.text-center
                                a(href="property-faq.html") FAQ
                            li.text-center
                                a(href="property-social.html") Get Social
       <!-- begin content block -->
    div.row.full-width
        div.large-10.columns.clearfix.large-centered
            h2.happy-days.font-blue Frequently Asked Questions
            div.large-12.columns.faq-block
                ul.accordion(data-accordion)
                    li.hr-divide-blue
                    li.accordion-navigation.active
                        a(href="#panel-1") Lorem ipsum dolor sit amet?
                        div#panel-1.content.active
                            p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                            p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    li.hr-divide-blue
                    li.accordion-navigation
                        a(href="#panel-2") Lorem ipsum dolor sit amet?
                        div#panel-2.content
                            p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                            p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    li.hr-divide-blue
                    li.accordion-navigation
                        a(href="#panel-3") Lorem ipsum dolor sit amet?
                        div#panel-3.content
                            p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                            p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    li.hr-divide-blue
            
            