div.row.full-width.property-activities-page
    <!-- begin hero+CTA section -->
    div.row.full-width.hero.clearfix
        div.hero.text-center.row
            h2.happy-days Palm Canyon Hotel + RV Resort           
    <!-- end hero+CTA section -->
    <!-- begin check availability bar -->
    div.row.full-width
        div.large-12.columns.availability-block.clearfix.show-for-large-up
            div.panel.cta1
                div.large-7.columns.large-offset-1
                    form
                        formfield
                            div.large-3.columns
                                h5.text-right Check Availability
                            div.large-3.columns
                                input(type="text" placeholder="Check-In")
                            div.large-3.columns
                                input(type="text" placeholder="Check-Out")
                            div.large-2.columns.left
                                a.submit-btn Book
                div.large-4.columns.weather-block.show-for-large-up
                    div.vrt-divide.left
                    div.large-10.columns.large-offset-1
                        div.row
                            h5 Currently in Boreggo Springs
                        div.row
                            div.large-5.columns 
                                p.temp 77&#8457
                            div.large-5.columns.weather-icons
    <!-- begin sub-navigation block -->
    div.row.full-width
        div.large-12.columns
            nav.top-bar.secondary-menu(data-topbar role="navigation")
                section.top-bar-section.clearfix
                    div.large-10.columns.large-centered
                        ul.center-buttons.clearfix.large-12.columns
                            li.text-center
                                a(href="property.html") Palm Canyon                    
                            li.text-center
                                a(href="property-accomodations.html") Accomodations
                            li.text-cetner
                                a(href="property-amenities.html") Amenities
                            li.active.text-center
                                a(href="property-activities.html") Activities
                            li.text-center
                                a(href="property-eatery.html") Eatery
                            li.text-center
                                a(href="property-maps.html") Maps + Contacts
                            li.text-center
                                a(href="property-faq.html") FAQ
                            li.text-center
                                a(href="property-social.html") Get Social
     <!-- begin content block -->
    div.row.full-width
        div.large-10.columns.clearfix.large-centered
            h2.happy-days.font-blue Activities In Borrego Springs
     div.row.full-width
        div.map-block
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d106779.40532509281!2d-116.38878788704058!3d33.24406483040602!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sus!4v1438287758296" width="1200" height="550" frameborder="0" style="border:0" allowfullscreen></iframe>
     div.row.full-width
        div.large-10.columns.clearfix.large-centered.post-block
            <!-- begin 6-block section -->
            ul.large-block-grid-3.posts
                li
                    img(src="../../images/activities-1.jpg")
                    h5.post-title Casinos
                    p.font-grey Proin iaculis elit ac lobortis varius. Vivamus sit amet elit erat. Maecenas et est eros. Duis egestas egestas ante, gravida ultricies turpis gravida sed. Sed laoreet odio vel dolor suscipit
                li
                    img(src="../../images/activities-2.jpg")
                    h5.post-title State Parks
                    p.font-grey Proin iaculis elit ac lobortis varius. Vivamus sit amet elit erat. Maecenas et est eros. Duis egestas egestas ante, gravida ultricies turpis gravida sed. Sed laoreet odio vel dolor suscipit
                    
                li
                    img(src="../../images/activities-3.jpg")
                    h5.post-title Star Gazing
                    p.font-grey Proin iaculis elit ac lobortis varius. Vivamus sit amet elit erat. Maecenas et est eros. Duis egestas egestas ante, gravida ultricies turpis gravida sed. Sed laoreet odio vel dolor suscipit
            ul.large-block-grid-3.posts
                li
                    img(src="../../images/activities-4.jpg")
                    h5.post-title Bird Watching
                    p.font-grey Proin iaculis elit ac lobortis varius. Vivamus sit amet elit erat. Maecenas et est eros. Duis egestas egestas ante, gravida ultricies turpis gravida sed. Sed laoreet odio vel dolor suscipit
                li
                    img(src="../../images/activities-5.jpg")
                    h5.post-title Hiking
                    p.font-grey Proin iaculis elit ac lobortis varius. Vivamus sit amet elit erat. Maecenas et est eros. Duis egestas egestas ante, gravida ultricies turpis gravida sed. Sed laoreet odio vel dolor suscipit
                li
                    img(src="../../images/activities-6.jpg")
                    h5.post-title Photography
                    p.font-grey Proin iaculis elit ac lobortis varius. Vivamus sit amet elit erat. Maecenas et est eros. Duis egestas egestas ante, gravida ultricies turpis gravida sed. Sed laoreet odio vel dolor suscipit
