div.row.full-width.property-eatery-page
    <!-- begin hero+CTA section -->
    div.row.full-width.hero.clearfix
        div.hero.text-center.row
            h2.happy-days Palm Canyon Hotel + RV Resort           
    <!-- end hero+CTA section -->
    <!-- begin check availability bar -->
    div.row.full-width
        div.large-12.columns.availability-block.clearfix.show-for-large-up
            div.panel.cta1
                div.large-7.columns.large-offset-1
                    form
                        formfield
                            div.large-3.columns
                                h5.text-right Check Availability
                            div.large-3.columns
                                input(type="text" placeholder="Check-In")
                            div.large-3.columns
                                input(type="text" placeholder="Check-Out")
                            div.large-2.columns.left
                                a.submit-btn Book
                div.large-4.columns.weather-block.show-for-large-up
                    div.vrt-divide.left
                    div.large-10.columns.large-offset-1
                        div.row
                            h5 Currently in Boreggo Springs
                        div.row
                            div.large-5.columns 
                                p.temp 77&#8457
                            div.large-5.columns.weather-icons
    <!-- begin sub-navigation block -->
    div.row.full-width
        div.large-12.columns
            nav.top-bar.secondary-menu(data-topbar role="navigation")
                section.top-bar-section.clearfix
                    div.large-10.columns.large-centered
                        ul.center-buttons.clearfix.large-12.columns
                            li.text-center
                                a(href="property.html") Palm Canyon                    
                            li.text-center
                                a(href="property-accomodations.html") Accomodations
                            li.text-cetner
                                a(href="property-amenities.html") Amenities
                            li.text-center
                                a(href="property-activities.html") Activities
                            li.active.text-center
                                a(href="property-eatery.html") Eatery
                            li.text-center
                                a(href="property-maps.html") Maps + Contacts
                            li.text-center
                                a(href="property-faq.html") FAQ
                            li.text-center
                                a(href="property-social.html") Get Social
     
      <!-- begin content block -->
    div.row.full-width
        div.large-10.columns.clearfix.large-centered
            h2.happy-days.font-blue Big Horn Bar + Grill
    <!-- begin slick-slider section -->
    div.row.full-width
        div.slick-slide-block-2
            div(style="background-image: url(../../images/big-horn-bar.jpg);")                
            div(style="background-image: url(../../images/big-horn-bar.jpg);")                   
            div(style="background-image: url(../../images/big-horn-bar.jpg);")                   
            div(style="background-image: url(../../images/big-horn-bar.jpg);")                     
            div(style="background-image: url(../../images/big-horn-bar.jpg);")     
            div(style="background-image: url(../../images/big-horn-bar.jpg);")
            
     <!-- begin main content block -->
    div.row.full-width
        div.large-10.columns.clearfix.large-centered.content-view
            p.font-grey Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus eu lacinia neque. Phasellus fringilla ante et cursus vulputate. Praesent vehicula velit vitae neque faucibus, sit amet egestas urna dictum. Nullam a auctor nisi. Suspendisse mauris eros, feugiat vitae ipsum eu, tempor aliquam sem. Aliquam orci eros, commodo non nunc vitae, scelerisque porttitor orci. Integer hendrerit fringilla ex a luctus.
            div.large-5.columns.info-block
                h4 Hours
                p Monday - Thursday: 10am - 10pm
                p Friday - Saturday: 10am - 11pm
                p Sunday: 11am - 5pm
            div.large-4.columns.info-block
                h4 Contact
                p 123 Main Street
                p Anytown, USA 12345
                p (888) 888-8888
            div.large-3.columns.end
                a.yellow-btn(href='#') Download Menu